
/* mobile devises  */
@media only screen and (max-width: 480px){
    /* header section  */
    .header-area{
        
    }
    .container{
        width: 330px;
    }
    .header-menu{
        display: none;
    }
    .copa-america{
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-bottom: 50px;
    }
    .half-width .copa-title{
        font-size: 36px;
        margin-top: 0;
    }
    .half-width img{
        margin-top: 50px;
    }
    /* players section  */
    .players{
        grid-template-columns: 1fr;
    }

    /* highlights section  */
    .highlights-area{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .highlights{
        grid-template-columns: 1fr;
    }
    .highlight-title{
        font-size: 30px;
    }
    /* man of the match section  */
    .manOfTheMatch{
        margin-top: 40px;
    }
    .manOfTheMatch .match{
        grid-template-columns: repeat(1, 1fr);
    }
    /* teams section  */
    .team-area{
        margin-top: 40px;
    }
    .team-area .team-title{
        font-size: 30px;
    }
    .team-area .teams{
        padding-left: 20px;
    }
    /* footer section  */
    .footer-area{
        margin-top: 50px;
    }
    .footer-area .logo{
        height: 50px;
    }
}