
/* mobile devices  */
@media only screen and (max-width: 768px){
    /* header section  */
    .container{
        width: 330px;
    }
    .header-menu{
        display: none;
    }
    .copa-america{
        grid-template-columns: 1fr;
        margin-top: 0;
        padding-bottom: 50px;
    }
    .half-width .copa-title{
        font-size: 36px;
        margin-top: 0;
    }
    .half-width img{
        margin-top: 50px;
    }
    /* players section  */
    .players{
        grid-template-columns: 1fr;
    }

    /* highlights section  */
    .highlights-area{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .highlights{
        grid-template-columns: 1fr;
    }
    .highlight-title{
        font-size: 30px;
    }
    /* man of the match section  */
    .manOfTheMatch{
        margin-top: 40px;
    }
    .manOfTheMatch .match{
        grid-template-columns: repeat(1, 1fr);
    }
    /* teams section  */
    .team-area{
        margin-top: 40px;
    }
    .team-area .team-title{
        font-size: 30px;
    }
    .team-area .teams{
        padding-left: 25px;
    }
    /* footer section  */
    .footer-area{
        margin-top: 50px;
    }
    .footer-area .logo{
        height: 50px;
    }
}

/* iPads, Tablets devices */
@media only screen and (min-width: 500px) and (max-width: 768px){
    .container{
        width: 95%;
    }
    .header-area{
        padding-left: 25px;
        padding-right: 25px;
    }
    .half-width .copa-title{
        font-size: 50px;
    }
    /* players section  */
    .players{
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5%;
    }
    .player .player-name{
        font-size: 24px;
    }
    /* highlights section  */
    .highlights{
        margin-left: 5%;
    }
    .highlight-title{
        font-size: 37px;
    }
    /* man of the match  */
    .manOfTheMatch{
        margin-left: 5%;
    }
    .manOfTheMatch .match{
        grid-template-columns: repeat(2, 1fr);
    }
    /* teams section  */
    .team-area .teams{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5%;
    }
    .team-area .team-title{
        font-size: 37px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1172px){
    .container{
        width: 95%;
    }
    /* header section  */
    .header-area{
        padding-left: 5%;
    }
    .half-width .copa-title{
        font-size: 38px;
    }
    main{
        margin-left: 5%;
    }
    /* .highlight section  */
    .highlight{
        padding: 0;
        margin-top: -10px;
    }
    .highlight .highlight-title{
        font-size: 30px;
    }
}
